<table class="table table-hover" style="cursor: pointer;">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of request.results" (click)="pickPoke(item.name)">
        <td>{{item.name}}</td>
        <td>{{item.url}}</td>
      </tr>
    </tbody>

    <button class="btn btn-primary" (click)="getPokes(actualPage + 1)" >
      Siguiente
    </button>

    <button class="btn btn-danger" (click)="getPokes(actualPage - 1)" [disabled]="actualPage === 1">
      Regresar
    </button>
  </table>